.layout-container {
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: #1a1a1a;
}

.layout-content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.layout-main {
	flex: 1;
	overflow: auto;
	padding: 1.5rem;
}
